@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: oklch(98.7% 0.026 102.212);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-vazir;
}
